* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FFFFFF;
    font-family: Roboto;
}

.header {
    height: 80px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    display: flex;
    padding: 18px 43px 12px 30px;
    font-family: Inter;
    font-weight: 700;
}

.header__logo {
    max-width: 15%;
    margin-right: 30px;
    align-self: center;
}

.header__course {
    font-size: 36px;
    color: #787878;
    align-self: center;
}

.header__links {
    justify-items: flex-end;
    margin-left: auto;
    align-self: center;
}

.header__registration {
    font-size: 24px;
    color: #1A226B;
    text-decoration: none;
}

.header__enter {
    margin-left: 28px;
    font-size: 24px;
    color: #787878;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: 80%;
    background: #FFFFFF;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    box-shadow: 0px 0px 40px 10px rgb(0 0 0 / 25%);
    padding: 26px 45px 37px;
}

.container__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container__heading {
    color: #787878;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.container__input {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
}

.container__input-text {
    font-size: 28px;
    color: #787878;
    font-weight: 700;
    padding-left: 3%;
    border: 2px solid #787878;
    width: 100%;
    line-height: 36px;
}

.container__input-text::-webkit-input-placeholder {
    color: #CCCCCC
}

.container__input-text::-moz-placeholder {
    color: #CCCCCC
}

.container__input-text:focus {
    outline: none;
}

.container__label {
    font-size: 16px;
    color: #787878;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 1%;
}

.container__radio {
    position: relative;
    color: #787878;
    font-size: 14px;
    margin-bottom: 9px;
}

.container__radio-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.container__radio-label {
    padding-left: 29px;
    font-size: 14px;
    color: #787878;
    font-weight: 400;
}

.container__radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #787878;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 3%;
}

.container__radio-label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #787878;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 3%;
    opacity: 0;
}

.container__radio-input:checked + .container__radio-label::after {
    opacity: 1;
}

.container__textarea-input_text {
    width: 100%;
    font-size: 28px;
    line-height: 36px;
    font-family: Roboto;
    font-weight: 700;
    color: #787878;
    border: 2px solid #787878;
    padding-left: 3%;
    margin-bottom: 24px;
    resize: none;
}

.container__textarea-input_text::-webkit-input-placeholder {
    color: #CCCCCC
}

.container__textarea-input_text::-moz-placeholder {
    color: #CCCCCC
}

.container__textarea-input_text:focus {
    outline: none;
}

.container__checkbox {
    position: relative;
    margin-bottom: 56px;
}

.container__checkbox-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.container__checkbox-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
    opacity: 1;
    box-sizing: border-box;
}

.container__checkbox-label::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: #787878;
    opacity: 0;
    box-sizing: border-box;
}

.container__checkbox-label {
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    padding-left: 34px;
}

.container__checkbox-input:checked + .container__checkbox-label::after {
    opacity: 1;
}

.container__button {
    width: 180px;
    height: 52px;
    border: none;
    background: #1A226B;
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    align-self: center;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .header {
        padding: 20px 23px 28px 28px;
    }
    
    .header__logo {
        max-width: 17%;
        margin-right: 34px;
    }
    
    .header__course {
        font-size: 24px;
    }
    
    .header__registration {
        font-size: 16px;
    }
    
    .header__enter {
        margin-left: 36px;
        font-size: 16px;
    }
    
    .container {
        margin-top: 80px;
        margin-bottom: 150px;
    }
    
    .container__heading {
        font-size: 50px;
    }
    
    .container__radio {
        position: relative;
        color: #787878;
        font-size: 14px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 599px) {
    .header {
        padding: 18px 20px 12px 15px;
    }
    
    .header__logo {
        max-width: 25%;
        margin-right: 15px;
    }
    
    .header__course {
        font-size: 18px;
    }
    
    .header__registration {
        font-size: 14px;
    }
    
    .header__enter {
        margin-left: 20px;
        font-size: 14px;
    }
    
    .container {
        padding: 26px 30px 37px;
    }
    
    .container__heading {
        font-size: 30px;
    }
    
    .container__input-text {
        font-size: 18px;
        line-height: 26px;
    }
    
    .container__label {
        font-size: 12px;
    }
    
    .container__radio {
        font-size: 9px;
        margin-bottom: 9px;
    }
    
    .container__textarea-input_text {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    
    .container__checkbox {
        position: relative;
        margin-bottom: 45px;
    }
}