.button {
    display: block;
    background-color: white;
    border: 1px solid;
    border-color: red;
    padding: 15px 30px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.4);
}
.button:hover {
    background-color: red;
}
.magenta {
    background-color: #FD679A;
}
.yellow {
    background-color: #FFFF0B;
}
.blue {
    background-color: #2E99FF;
}
.light-green {
    background-color: #A8D13A;
}
.dark-green {
    background-color: #2E601C;
}

table {
    align: center;
    font-family: "Montserrat";
    margin: auto;
   
}
th, td {
    border-color: black;
    border-radius: 5px;
    border: 1px solid;
    height: 50px;
    width: 90px;
}
td {
    text-align: center;
}

th {
    background-color: darkgray;
    font-size: 16px;
}
div:hover {
    font-weight: bolder;
    font-size: 120%;
}
div {
    font-weight: bold;
}
h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: "Montserrat";
}
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat";
}
.act {
    font-size: 14px;
}
iframe {
    display: block;
    margin: auto;
}
body {
    font-family: "Montserrat";
}