* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background: bisque;
    
}

.header__content {
    margin-top: 30px;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
    color: rgb(78, 52, 19)

}

.sidebar {
    position: fixed;
    top: 100px;
    width: 17%;
    height: 500px;
    background: bisque;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
    border-right: 1px solid rgb(78, 52, 19);
    z-index: 99;
}

.sidebar__link {
    font-size: 2vw;
    color: rgb(78, 52, 19);
    text-decoration: none;
    line-height: 3vw;
    margin-right: 20px;
    
}

.main-header {
    position: relative;
    top: 10%;
    left: 40%;
    font-size: 3vw;
    width: 30%;
    padding: 3% 0 0 0;
    margin: 0;
        
}

.section {
    position: relative;
    top: 50%;
    left: 25%;
    width: 60%;
}

.section__heading {
    position: sticky;
    top: 0px;
    font-size: 1.5vw;
    width: 100%;
    background: bisque;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    z-index: 2;
    
}
 .section__anchor {
    position: relative;
    top: -4vw;
    z-index: 1;

 }

.section__content {
    margin-bottom: 1.8%;
    margin-top: 0;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid bisque;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.section__link-tel-number,
.section__link-mail {
    text-decoration: none;
    cursor: pointer;
    color: rgb(53, 35, 11);
}